# ============================
# 🧠 IDEs e Configurações Locais
# ============================
.idea/
*.iml
/shelf/
.workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

.vscode/*
!.vscode/extensions.json

# ============================
# 🐍 Ambientes Virtuais Python
# ============================
env/
.venv/

# ============================
# 🐍 Arquivos Compilados Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# 🧪 Testes e Logs
# ============================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ============================
# 📁 Arquivos Temporários e Dados
# ============================
*.zip
input/
output/
*.bak
.DS_Store

# ============================
# 🔐 Variáveis de Ambiente e Credenciais
# ============================
.env
*.pem
*.crt
*.key
*.local

# ============================
# 🌐 Node / Frontend (Vue)
# ============================
node_modules/
dist/
dist-ssr/

# ============================
# 🧱 Arquivos de Solução / Projeto (VS, etc)
# ============================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
